* {
  border: none;
  border-radius: 0;
  min-height: 0;
  padding: 0 6px;
  font-family: "Symbols Nerd Font", "JetBrains Mono", "IBM Plex Sans", sans-serif;
  font-size: 11pt;
  color: #ffffff;
  background: #1f1f1f;
}

window#waybar {
  background: #1f1f1f;
  color: #ffffff;
}

#clock {
  padding: 0 8px;
}

#network,
#disk,
#cpu,
#temperature,
#memory,
#pulseaudio,
#bluetooth {
  padding: 0 2px;
  margin: 0;
}

#pulseaudio.icon,
#memory.icon,
#temperature.icon,
#cpu.icon,
#disk.icon,
#network.icon,
#bluetooth.icon {
  min-width: 20px;
  margin-right: 1px;
}

#pulseaudio.value,
#memory.value,
#temperature.value,
#cpu.value,
#disk.value,
#network.value {
  min-width: 30px;
  margin-right: 6px;
}

#pulseaudio.muted {
  opacity: 0.5;
}

tooltip,
tooltip * {
  background: #000000;
  color: #ffffff;
}
